* {
  padding: 0;
  margin: 0;
}
.topHeader {
  position: absolute;
  width: 1440px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: #3a3838;
  display: flex;
}
.topHeader .imageSide {
  width: 40%;
  height: 100%;
}

.topHeader .navSide {
  width: 80%;
  height: 100%;
}
.topHeader .imageSide img {
  position: absolute;
  left: 3.75%;
  right: 86.46%;
  top: 30%;
  bottom: 17.86%;
}
.topHeader .navSide nav ul {
  display: flex;
  list-style-type: none;
}
.topHeader .navSide nav ul li {
  margin-top: 35px;
  text-align: center;
  margin-left: 15px;
  margin-right: 20px;
  right: 68.26%;
  bottom: 37.5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  padding: 9px;
}

.topHeader .navSide nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.searchBar {
  display: flex;
  position: absolute;
  left: 74.72%;
  right: 10%;
  margin-bottom: 12px;
  bottom: 30.36%;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.searchBar input {
  outline: none;
  border: 0;
  background: transparent;
  font-size: 15px;
  color: black;
}
.searchBar button img {
  width: 20px;
}
.searchBar button {
  left: 74.72%;
  right: 10%;
  top: 37.5%;
  bottom: 30.36%;
  border: none;
  background-color: transparent;
}
.profileIcon {
  position: absolute;
  left: 92.99%;
  right: 3.82%;
  top: 29.46%;
  bottom: 29.46%;
  cursor: pointer;
}
main .wrap {
  width: 1440px;
  height: 912px;
  top: px;
  background: #d9d9d9;
}
main .aboutUs {
  position: absolute;
  width: 189px;
  height: 72px;
  left: 408px;
  top: 180px;
  font-family: "Lemonada";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
}
main .content_left {
  position: absolute;
  width: 719px;
  height: 420px;
  left: 148px;
  top: 240px;
  font-family: "Lemonada";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  border: 1px solid #ffffff;
}
.content_right {
  position: absolute;
  width: 541px;
  height: 430px;
  left: 897px;
  top: 90px;
}

.footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: white;
  cursor: pointer;
  text-align: center;
}

html {
  font-size: 19px;
}
main .right_section {
  position: absolute;
  width: 720px;
  height: 830px;
  left: 720px;
  top: 112px;
}
.left_section form button {
  background: #000000;
  border-radius: 10px;
  color: white;
  position: absolute;
  width: 267px;
  height: 56px;
  left: 226px;
  top: 876px;
  border: none;
  outline: none;
}

main .left_section {
  padding-top: 144px;
  padding-bottom: 6.75rem;
}
main .left_section h1 {
  font-size: 45px;
}
main .left_section {
  max-width: 432px;
}
main .left_section form {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .left_section .form_control {
  display: flex;
  flex-direction: column;
  border: none;
}

main .left_section form input {
  box-sizing: border-box;
  width: 432px;
  height: 56px;
  left: 144px;
  top: 271px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  align-items: center;
}
.terms a {
  color: #428eff;
}
.sign a {
  color: #428eff;
  align-items: center;
}
